/*------------ GENERALLE INDSTILLINGER------------------*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

body {
  margin: 0;
  background-color: black;
  position: relative;
  min-height: 100vh;
}

.button {
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  width: auto;
  padding: 10px 40px 10px 40px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 70px;
}

.back-button {
  text-align: center;
  font-size: 1.2rem;
}

.button:hover {
  color: black;
  border: 1px solid white;
  background-color: white;
  transition: 0.3s;
}

.reverse {
  flex-direction: row-reverse;
}

a:visited {
  color: white;
}

.hide {
  display: none;
}

.wrapreverse {
  flex-wrap: wrap-reverse;
}

.section-wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 30px;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

.spacer {
  height: 80px;
}

.work-spacer {
  height: 150px;
}

.about-spacer {
  height: 200px;
}

/*--------------------- FORSIDE ------------------------*/

/*---------- Sidebar text ----------*/
/* #side-text {
  display: none;
} */

.scroll-container {
  position: fixed;
  width: 100vh;
  height: 100vh;
  overflow: visible;
  pointer-events: none;
  right: 20px;
  top: 0;
}

.side-text {
  position: fixed;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  color: white;
  right: 5px;
  top: 0;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  transform: rotate(90deg);
  transform-origin: center;
  white-space: nowrap;
}

.scroll-container .scroll {
  width: 100%;
  display: flex;
  transform: rotate(90deg);
  transform-origin: right;
}

.scroll-container .scroll div {
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  white-space: nowrap;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
}

.scroll-container .scroll div:nth-child(2) {
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

#coverphoto {
  width: 30vw;
  margin: auto;
  position: absolute;
  top: 48vh;
  left: 55vw;
}

#coverphoto2 {
  width: 40vw;
  margin: auto;
  position: absolute;
  top: 50vh;
  left: 10vw;
}

#coverphoto3 {
  width: 45vw;
  margin: auto;
  position: absolute;
  top: 18vh;
  left: 25vw;
}

/* .coverphotoimg {
  transform-style: preserve-3d;
  perspective: 200px;
  box-shadow: 0 20px 20px rgba(250, 250, 250, 0.2);
} */

/*----------------- NAV og HEADER ------------------------------*/

#nav {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 1000;
  top: 0;
  left: 0;
  transition: 0.4s;
  margin: 0;
  padding-top: 20vh;
}

#nav a {
  color: white;
  font-size: 3.5rem;
  margin: 0;
  text-decoration: none;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 80px;
}

#nav li,
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav a:visited {
  color: white;
}
#nav .active {
  text-decoration: underline;
}

.hide-burger {
  transition: 0.4s;
  opacity: 0;
  pointer-events: none;
}

.link {
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  margin-top: -7px;
  display: block;
  right: 0;
  background: #fff;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
  left: 0;
  background: #fff;
}

.header-title {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-decoration: none;
  text-align: left;
}

.header-title a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 18px;
}

header {
  padding: 20px;
  position: fixed;
  z-index: 100;
}

/*----------- burger menu animation ----*/

#burger-icon {
  width: 30px;
  z-index: 1001;
  height: 20px;
  position: fixed;
  right: 20px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.burger-bg {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  width: 70px;
  background-color: black;
  z-index: 1000;
}
#burger-icon span {
  display: block;
  position: absolute;
  height: 1.4px;
  border-radius: 0.8px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burger-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 3px;
}

#burger-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#burger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 19px;
  left: 3px;
}

/*---------------------- WORK ------------------------*/

.film-photos {
  display: flex;
  flex-wrap: wrap;
}

.film-photos img {
  flex-basis: 100px;
}

.text p {
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 25px;
  margin-top: 0;
}

.text h1 {
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.8rem;
  margin-bottom: 13px;
}

.text {
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin: 0 auto;
  grid-gap: 0px;
}

.text .work-category {
  color: black;
  border: 1px solid white;
  background-color: white;
  border-radius: 50px;
  padding: 5px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 0;
}

.text .work-link {
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 7.5px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-right: 5px;
  margin-top: 10px;
  display: inline-block;
  transition: 0.3s;
}

.text .work-link:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
  border: 1px solid white;
}

.gse-images {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.gse-desktop-imgs {
  padding: 0;
}

.desktop-imgs {
  padding: 0;
}

#work-content {
  max-width: 1200px;
  margin: 0 auto;
}

.work-text p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  text-decoration: none;
  color: white;
  padding-bottom: 0px;
}

.work-text-header {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}

.work-text .work-text-cat {
  font-size: 1rem;
  font-weight: 400;
  font-family: neue-haas-grotesk-display, sans-serif;
  /* border: 1px solid white;
  border-radius: 50px; */
  /* padding: 5px 20px 5px 20px; */
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-transform: capitalize;
  margin-top: 1px;
  color: grey;
  margin-bottom: 0;
}

.work-text {
  margin-bottom: 40px;
  margin-top: -15px;
  padding-left: 23px;
}

.work-grid a {
  text-decoration: none;
}
/*-------------------------- ABOUT -----------------------------*/
#about p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

#about h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 5rem;
  margin: 0 0 15px 0;
  padding: 0;
}

.about-link {
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-right: 5px;
  margin-top: 10px;
  display: inline-block;
  transition: 0.3s;
}

.about-link:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
  border: 1px solid white;
}

.portrait-picture {
  max-width: 800px;
  margin: 20px 0 0 auto;
}

/*-------------------------- CONTACT -----------------------------*/

#contact p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 4rem;
  text-align: left;
  margin-bottom: 0;
}

.contact-section-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

/*--------------------- FOOTER------------------------*/

footer {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: grey;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}

footer a {
  color: grey;
  text-decoration: none;
  margin: 0 20px;
  flex-basis: 100%;
  margin: 0 20px 0 0;
  transition: 0.3s;
}
footer p {
  padding: 0;
  flex-basis: 100%;
  margin: 0 20px 0 0;
}

footer a:hover {
  /* border-bottom: 1px solid white; */
  color: white;
  transition: 0.3s;
}

/*-----------------------  ANIMATIONER -------------------*/

.rotate {
  animation-name: rotate_kf;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate_kf {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.float {
  animation-name: float_kf;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-box: fill-box;
  transition: 1s;
}

.float2 {
  animation-name: float_kf;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-box: fill-box;
  animation-delay: 1s;
  transition: 1s;
}

/* @keyframes float_kf {
  0% {
    transform: translate(18px, 17px);
  }
  25% {
    transform: translate(18px, 38px);
  }
  50% {
    transform: translate(-17px, 36px);
  }
  75% {
    transform: translate(-19px, 18px);
  }
  100% {
    transform: translate(18px, 17px);
  }
} */

@keyframes float_kf {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*------------------------ MEDIA QUERY ----------------------------*/
@media only screen and (min-width: 400px) {
  /*------------ Muna að gera grid fyrir 300px síma -----------------------*/
  .work-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .gse-images {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media only screen and (min-width: 800px) {
  /*--------------------- FORSIDE ------------------------*/

  #coverphoto {
    width: 20vw;
    margin: auto;
    position: absolute;
    top: 55vh;
    left: 47vw;
  }

  #coverphoto2 {
    width: 20vw;
    margin: auto;
    position: absolute;
    top: 37vh;
    left: 20vw;
  }

  #coverphoto3 {
    width: 30vw;
    margin: auto;
    position: absolute;
    top: 10vh;
    left: 42vw;
  }

  @media only screen and (min-width: 1000px) {
    /*------------ general stuff --------------------*/

    .hide-burger {
      display: block;
      opacity: 1;
      pointer-events: all;
    }

    .hide-mobile {
      display: block;
    }
    .hide-desktop {
      display: none;
    }

    .grey:hover {
      filter: grayscale(0);
      transition: 0.5s;
    }

    .grey {
      transition: 0.5s;
      filter: grayscale(1);
    }

    header {
      padding: 0px;
    }

    #side-text {
      display: block;
    }

    /*------------ nav --------------------*/

    #burger-icon {
      display: none;
    }

    #nav {
      text-align: left;
      margin: 0px 10px;
      position: relative;
      z-index: 1;
      padding: 0;
      background-color: transparent;
      height: auto;
      transition: none;
    }

    #nav li,
    #nav ul {
      text-align: left;
      padding: 0;
      margin-bottom: -10px;
    }

    #nav a {
      font-size: 2rem;
      line-height: 42px;
      font-weight: 400;
    }
    /*------------ other--------------------*/

    /* #contact p {
      font-size: 5rem;
    } */

    .text p {
      font-size: 1.2rem;
      line-height: 30px;
      letter-spacing: 0.1px;
    }

    .text h1 {
      font-size: 4rem;
    }

    .text {
      max-width: 910px;
      padding: 0;
    }

    .gse-desktop-imgs {
      padding: 10px 78px;
    }

    .desktop-imgs {
      padding: 10px 55px;
    }

    .text .work-link {
      padding: 10px 30px;
      margin-top: 0px;
    }

    footer {
      display: inline-block;
      margin-left: 5px;
    }

    footer p {
      display: inline-block;
    }
    .underline-about {
      text-decoration: underline;
    }
    .laura:hover {
      cursor: url(images/laura_cursor.png), auto;
    }

    .code:hover {
      cursor: url(images/code-cursor.png), auto;
    }

    .ikea:hover {
      cursor: url(images/ikea_cursor.png), auto;
    }

    .apple:hover {
      cursor: url(images/apple_cursor.png), auto;
    }
  }

  @media only screen and (min-width: 1600px) {
    /*------------ Breyta max width fyrir stóra skjái -----------------------*/
    .section-wrapper {
      max-width: 1600px;
    }

    .work-grid {
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }

    .gse-images {
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }

    .text {
      max-width: 1200px;
    }

    #work-content {
      max-width: 1450px;
      margin: 0 auto;
    }

    .gse-desktop-imgs {
      padding: 10px 98px;
    }

    .desktop-imgs {
      padding: 10px 85px;
    }
  }

  @media only screen and (min-width: 2000px) {
    #nav a {
      font-size: 3rem;
      line-height: 58px;
      font-weight: 400;
    }

    .spacer {
      height: 150px;
    }

    #nav {
      margin: 5px 17px;
    }
  }
}
